.profile-page-content {
  // fix margin later
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 80%;

  .profile-page-picture-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    .profile-picture {
      width: 200px;
      height: 250px;
      .profile-picture-img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
      }
    }

    .file-uploader-wrapper {
    }
  }

  .profile-information-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .greeting-message {
      font-size: xx-large;
      font-weight: 800;
      margin-top: 10px;
    }

    .user-stats {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;

      .stats-relation,
      .stats-instances {
        font-size: medium;
        font-weight: 600;
      }
    }
  }

  .recommendation-panel {
    margin-top: 30px;

    .recommendation-panel-wrapper {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .recommendation-panel-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: xx-large;
      }

      .recommendation-panel-items::-webkit-scrollbar {
        display: none;
      }

      .recommendation-panel-items {
        margin-top: 20px;
        height: 400px;
        overflow-y: scroll;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, minmax(212px, 1fr));
      }
    }
  }
}
