button {
  cursor: pointer;
}

.add-relationship-wrapper {
  input {
    padding: 10px;
    outline: 0;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .add-relation-picklist-wrapper {
    margin-top: 10px;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    font-size: 10px;

    .add-relation-picklist-item-wrapper {
      height: 10%;
      border: 1px solid #1db954;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .picklist-item {
      padding: 10px;
      font-size: large;
    }

    .checked {
      color: white;
      background-color: #1db954;
    }

    .picklist-item-button {
      width: 25%;
      height: 100%;
      padding: 10px;
      text-wrap: nowrap;
      font-weight: 700;
      font-size: large;
    }
    .checked:hover {
      color: darkgray;
      background-color: darkolivegreen;
    }

    .unchecked {
      color: black;
    }

    .unchecked:hover {
      color: azure;
      background-color: gray;
    }
  }
}

.submit-relationships-button {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  width: 70%;
  padding: 6px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background-color: white;
}

.submit-relationships-button:hover {
  background-color: #1db954;
  color: white;
}
