.profile-page-wrapper {
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  padding: 10px;
  margin: 10px;

  .profile-page-action-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  color: aliceblue;
  border: 2px solid green;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}