.profile-page-wrapper {
  display: flex;

  height: 100%;
  overflow: hidden;

  // justify-content: space-between;
  padding: 60px 100px 20px 100px;

  .profile-info {
    display: flex;
    flex-direction: column;

    gap: 5px;

    .profile-page-picture {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .picture-container {
        width: 300px;
        height: 300px;

        img {
          width: 100%;
          border: 1px solid transparent;
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }

      .change-profile-picture {
        width: 100%;
        align-self: center;
      }
    }

    .profile-page-stats {
      width: 100%;
      margin-top: 30px;
      font-weight: 700;
      font-size: large;
      align-self: center;

      span {
        color: greenyellow;
      }
    }

    .profile-notifications {
      width: 100%;
      margin-top: 30px;
      font-weight: 600;

      .notifications-header {
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .notifications {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        .notification {
          display: flex;
          justify-content: space-between;
          
          .text {
            align-self: flex-end;
            span {
              color: greenyellow;
              cursor: pointer;
            }
          }
          
          .mark {
            align-self: flex-end;
            cursor: pointer;
            color: rgb(255, 0, 0, 0.5);
          }
        }
      }
    }

    .friend-list {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .friend-list-header {
        font-size: larger;
        font-weight: 700;
      }

      .friends {
        max-height: 100px;
        overflow-y: scroll;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: greenyellow;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

  .profile-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .profile-page-tasks-contents {
      display: flex;
      height: 35%;
      .profile-page-tasks {
        margin-left: 50px;
      }
      .profile-page-tasks-history {
        margin-left: auto;
      }

      .profile-page-tasks,
      .profile-page-tasks-history {
        width: 40%;
        max-height: 100%;

        .dashboard-wrapper,
        .task-history-wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;

          max-height: 100%;

          .dashboard-map-container,
          .tasks-container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            overflow-y: scroll;
          }

          .no-tasks-message,
          .tasks-header {
            width: 100%;
            font-size: x-large;
            font-weight: 550;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }

    .profile-recommendations {
      margin-left: 50px;
      height: 55%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .profile-recommendations-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        .profile-recommendations-title {
          text-transform: uppercase;
          letter-spacing: 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: x-large;
        }

        .profile-recommendations-items::-webkit-scrollbar {
          display: none;
        }

        .profile-recommendations-items {
          margin-top: 20px;
          height: 400px;
          overflow-y: scroll;
          display: grid;
          gap: 5px;
          grid-template-columns: repeat(4, minmax(212px, 1fr));
        }
      }
    }
  }
}
