.ranking-neural-network-page-wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ranking-neural-network-fetch-comments-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .fetch-comments-input {
      color: white;
      background-color: black;
      border: 0;
      height: 40px;
      width: 550px;
      text-align: left;
      font-size: x-large;
      padding-top: 3px;
      padding-left: 5px;

      &:focus,
      &:hover {
        background-color: #a0a0a0;
      }

      &:focus-visible {
        outline: 0;
      }
    }
  }

  .ranking-neural-network-rating {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .neural-network-accuracy {
    padding-top: 20px;
    font-size: x-large;
    font-weight: 700;
  }
}

input {
  padding: 5px;
  &::placeholder {
    font-weight: 700;
  }
}
.generate-lyrics-page-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .generate-lyrics-page-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }

  .generate-lyrics-page-additional-params-title {
    margin-top: 20px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
  }

  .generate-lyrics-page-params {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .generate-lyrics-page-selector-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      width: 350px;

      .generate-lyrics-page-selector-label {
        font-size: medium;
        font-weight: 600;
      }

      .generate-lyrics-page-selector {
        outline: 0;
        height: 30px;
        border-radius: 5px;
      }
    }

    .generate-lyrics-page-input-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      width: 350px;

      .generate-lyrics-page-input-label {
        padding: 3px;
        font-size: medium;
        font-weight: 600;
      }

      .generate-lyrics-page-input {
        outline: 0;
        height: 30px;
        border-radius: 5px;
      }
    }

    .generate-lyrics-page-additional-params {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      gap: 20px;

      .generate-lyrics-page-additional-params-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;

        .generate-lyrics-page-additional-params-label {
          padding: 3px;
          font-size: smaller;
          font-weight: 600;
        }

        .generate-lyrics-page-input-length,
        .generate-lyrics-page-input-freedom,
        .generate-lyrics-page-input-stop-words {
          outline: 0;
          height: 30px;
          border-radius: 5px;
        }
      }

      .generate-lyrics-page-additional-params-wrapper-checkbox {
        display: flex;
        justify-content: space-between;
        width: 350px;
        gap: 10px;

        .generate-lyrics-page-additional-params-label {
          padding: 3px;
          font-size: smaller;
          font-weight: 600;
        }

        .generate-lyrics-page-input-explicit-content {
          margin-left: 3px;
          width: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .generate-lyrics-page-btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .generate-lyrics-page-btn-wrapper {
      width: 200px;
      height: 50px;
      border: 2px solid black;
      border-radius: 6px;
      font-weight: 600;
      background-color: #1fdf64;
      color: black;
      cursor: pointer;
    }
  }
}