.item-properties-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
  min-height: 500px;
  gap: 1rem;

  .item-image-container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    .item-image {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }

    .no-image-provided-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .item-properties {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .item-property-wrapper {
      display: flex;
      justify-content: space-between;

      .item-property-label {
        font-weight: 500;
        font-size: large;
      }

      .item-property-value {
        font-weight: 600;
        font-size: large;
      }
    }
  }

  .added-by-link {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: large;

    span {
      font-weight: 600;
      color: greenyellow;
      margin-left: auto;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;

    .delete-item {
      width: 30%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: large;
      border: 2px solid red;
      border-radius: 5px;
      background-color: black;
      color: white;
    }

    .edit-item {
      width: 30%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: large;
      border: 2px solid greenyellow;
      border-radius: 5px;
      background-color: black;
      color: white;
    }
  }
}

.item-relationships-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

  .relationship-container {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .relationship-title {
      height: 5%;
      width: 100%;
      font-weight: 700;
      font-size: large;
      color: rgb(126, 191, 28);
    }

    .relationships {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: scroll;
      max-height: 55%;
      gap: 0.3rem;

      .relationship-link {
        cursor: pointer;
        font-weight: 600;
        &:hover {
          color: red;
        }
      }
    }
  }
}
